.menu-bg {
  background: #2c70ff;
  color: #fff;
}

.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 0.9375rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: #fff;
}

.menu-logo a {
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0 0.625rem;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 1.25rem;
  display: block;
  padding: 0.625rem;
}

.menu-nav a:hover {
  color: #122ab2;
}
