.produtos {
  max-width: 960px;
  margin: 60px auto;
}

.produtos h1 {
  font-size: 3rem;
  margin: 0 0.625rem 3.75rem 0.625rem;
  font-weight: bold;
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.produtos-item {
  flex: 1 1 175px;
  margin: 0.625rem;
}

.produtos-item h2 {
  font-size: 3rem;
  color: #a4a4a4;
  background: #f7f7f7;
  padding: 3.75rem 1.25rem;
}

.purple {
  border-top: 8px solid #ae81ff;
}

.pink {
  border-top: 8px solid #f9265e;
}

.blue {
  border-top: 8px solid #66d9eb;
}
